entrypoint = "Segment-5/Pdf_through_python.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "Segment-5/Pdf_through_python.py"]
deploymentTarget = "cloudrun"
