entrypoint = "Segment-5/Acer_laptop_price_notifier.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"


[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3","Segment5/Acer_laptop_price_notifier.py"]
deploymentTarget = "cloudrun"
